* {
    padding: 0;
    margin: 0;
}

figure {

    background-color: black;
    text-align: center;
    color: white;
}

p {
    background-color: red;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
}