@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    background-color: rgb(36, 3, 3);
    font-family: "Tilt Neon", sans-serif;
    color: aliceblue;
    font-size: 20px;
}

h1 {
    text-align: right;
    text-shadow: -10px -10px 10px rgb(28, 204, 228);
    font-size: 40px;

}

nav {
    text-align: right;
}
a {
    text-shadow: -10px -10px 10px rgb(28, 204, 228);
    background-color: blue;
    color: blueviolet;
}

p {
    text-shadow: -10px -10px 10px rgb(28, 204, 228);
    text-align: justify;
    height: 50px;
}