@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    background-color: whitesmoke;
    font-family: "Tilt Neon", sans-serif;
    font-size: 20px;
}

a {
    background-color: blue;
    color: blueviolet;
}

p {
    text-align: justify;
}