.container {
    height: 50vh;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;

    /* justify-items: center;
    align-items: center; */

    justify-content: space-between;
    align-content: center;
    place-content: space-between center;
    place-items: start end;


}

.box {
    background-color: brown;
}

.box1 {}

.box2 {}

.box3 {}

.box4 {}