.container {
    display: grid ;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;

    /* justify-items: center;
    align-items: center; */

    place-items: start center;
}

.box1 {
    
}

.box2 {

}

.box3 {

}

.box4 {

}