@media screen and (max-width:768px) {
    body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: red;
        font-size: 20px;
        color: rgb(0, 0, 0);
    }
}

@media screen and (max-width:728px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(0, 255, 34);
        font-size: 20px;
        color: rgb(0, 0, 0);
    }
}

@media screen and (max-width:708px) {
    body {
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: rgb(251, 255, 0);
        font-size: 20px;
        color: rgb(0, 0, 0);
    }
}